#container-div
{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #33ccff;
    border-radius: 150px;
    margin: 300px auto;

}

.circle-div
{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #33ccff;
    border-radius: 100px;
}